.ExploreSimilar {
  max-width: 1360px;

  .explore-similar-nav {
    color: #f2f2f2;
    text-align: center;
  }

  .btn-tag-overlay {
    //TEMP: remove this
    bottom: 40%;
    left: 40%;
    margin: 80px;

    opacity: 0;
    transition: all 0.2s ease-in-out;

    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: rgba(17, 17, 17, 0.5);

    color: #f2f2f2;
    font-size: 24px;

    &:hover {
      background: var(--primary, #58bdf8);
      color: #031825;
    }
  }

  //TODO: make an image wrapper that has a max width and height
  .showcase-image-wrapper {
    // width: 642px;
    max-height: 742px;
    width: 800px;

    &:hover {
      .btn-tag-overlay {
        opacity: 1;
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }

  .similar-header {
    color: #fff;
    font-size: 18px;
    line-height: 120%;
  }

  .btn-nav {
    width: 32px;
    height: 32px;
    padding: 4px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 100px;
  }

  .similar-products {
    .products {
      overflow-y: auto;
      max-height: 792px;
    }
  }
}

@media screen and (width <= 800px) {
  .ExploreSimilar {
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    gap: 1rem;
    .explore-similar-nav {
      display: none;
    }

    .showcase-image-wrapper {
      padding-top: 0;
      max-height: 100%;
      width: 95%;
      margin: 0 auto;
      img {
        margin: auto;
        width: 100%;
      }
    }
  }
}
