

.CollectionCard {
  width: 284px;
  height: 338px;
  line-height: 100%; /* 16px */

  .collection-image {
    width: 284px;
    height: 284px;
    object-fit: cover;
    object-position: bottom;
  }
  .collection-items-count {
    color: rgba(242, 242, 242, 0.5);
  }
}

