


.UserProfileFull {
  color: #fff;

  .user-username {
    color: rgba(255, 255, 255, 0.5);
  }
  .user-bio {
    color: rgba(255, 255, 255, 0.8);
  }
  .user-span {
    color: rgba(255, 255, 255, 0.5);
  }
}

